*{
    box-sizing: border-box;
}

body{
    font-family: Helvetica;
}

.butt{
    background-color: orangered;
    margin-left: 45%;
    margin-top: 25%;
    padding: 50px;
}

.input1{
    margin-bottom: 50px;
}