{% extends 'base.html' %} {% block head %}

<title>Posts</title>

{% endblock %} {% block body %}

<h1>Create new Blog Post:</h1>
<form action="/posts" method="POST">
  <div class="form-group">
    Title
    <input
      name="title"
      class="form-control"
      id="title"
      type="text"
      placeholder="Enter your title here"
    />
  </div>
  <br />

  <div class="form-group">
    Post
    <textarea
      name="content"
      id="content"
      class="form-control"
      rows="4"
      placeholder="Enter your post here"
    ></textarea>
  </div>
  <br />
  <input class="btn btn-primary" type="submit" value="Post" />
</form>
<hr />

{% for user in users %}
<h2>{{user.title}}</h2>
<p>{{user.content}}</p>
<p>Written by {{user.author}} on {{user.date}}</p>
<a class="btn btn-primary" href="/posts/edit/{{user.id}}" role="button">Edit</a>
<a class="btn btn-danger" href="/posts/delete/{{user.id}}" role="button"
  >Delete</a
>
{% endfor %} {% endblock %}
